{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/front-page.twig -->
  {% embed '@layouts/sidebar/sidebar.twig' %}
    {% block sidebar_main %}
      <div class="frontpage__content">
      	<h2 class="story-title">Stories from the archive</h2>
      	<div class="swiper-container">
      		<div class="swiper-wrapper">
		      	{% for story in stories %}
		      	  <div class="swiper-slide">
		      	  	<div class="swiper-image">
		      	  		<img src="{{ story.thumbnail.src }}" alt="Image for {{ story.title }}" />
		      	  	</div>
		      	  	<h3 class="swiper-title">{{ story.post_title }}</h3>
		      	  	<a href="{{ story.link }}" class="button">View Story</a>
		      	  </div>
		      	{% endfor %}
		    </div>
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>
		    <div class="swiper-pagination"></div>
	      </div>
      </div>
    {% endblock %}
    {% block sidebar_aside %}
   	  <p class="fontpage__intro">{{ post.homepage_intro }}</p>
   	  <hr/>
   	  <h2>Get Involved</h2>
      <div class="get-involved__content">
   	    {% for item in get_involved %}
          {% set image = Image(item.thumbnail) %}
   	      <div class="get-involved__item">
            <div class="get-involved--image">
              <img src="{{ image.src }}" alt=""/>
            </div>
   	        <h3><a href="{{ item.link }}">{{ item.post_title }}</a></h3>
   	      </div>
   	    {% endfor %}
        </div>
        <div class="get-involved--link">
   	      <a class="get-involved__link" href="/get_involved/">View All</a>
        </div>
   	  <hr/>
   	  <h2>Related</h2>
    {% endblock %}
  {% endembed %}
{% endblock %}
