{% extends 'base.twig' %}

{% block content %}
  <!-- Provided by templates/page.twig -->
  <div class="l-content">
    <div class="l-constrain--medium">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
        {% for collection in collections %}
        	<div>
        		<h2><a href="/collection/{{ collection.slug }}">{{ collection.name }}</a></h2>
        		<p>{{ collection.collection_description }}</p>
        	</div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
