<div class="card">
  <div class="card__body">
    <div class="card__header">
      <h2 class="card__title">
        {% if url %}<a href="{{ url }}">{% endif %}
          {{ title }}
        {% if url %}</a>{% endif %}
      </h2>
    </div>
    <div class="card__content">
      {{ content }}
    </div>
    {% if footer %}
      <div class="card__footer">
        {{ footer }}
      </div>
    {% endif %}
  </div>
  {% if media %}
    <div class="card__media">
        {{ media }}
    </div>
  {% endif %}
</div>